
  
  .attachment-button {
    margin-left: 10px;
  }

  .attachment-container {
    display: flex;
    align-items: center;
    background-color: #081d5c;
    color: #fdc613;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .attachment-icon {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .attachment-label {
    flex-grow: 1;
  }
  
  .attachment-label span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th,
  tbody td {
    padding: 8px;
    text-align: left;
  }
  
  thead th {
    background-color: #081d5c;
    color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  tbody tr:hover {
    background-color: #e6e6e6;
  }
  
  button {
    background-color: #fdc613;
    color: #081d5c;
    border: none;
    cursor: pointer;
  }

  .fa-file:before {
    content: "\f15b"; 
  }

