

  <div class="attachment-container">
    <div class="attachment-icon">
      <i class="fas fa-paperclip"></i>
    </div>
    <div class="attachment-label">
        <input type="file" (change)="onFileInputChange($event)" accept=".pdf,.docx,.xlsx,.jpg,.png" class="input">
    </div>
    <button class="attachment-button" (click)="uploadAttachment()">Upload</button>
  </div>
  <div>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Attachment</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attachment of attachments">
            <td>{{ attachment.title }}</td>
            <td>{{ attachment.status }}</td>
            <td>
                
              <a [href]="attachment.url" target="_blank" rel="noopener noreferrer">
                
                <img src="{{ attachment.image }}" alt="File" width="50" height="50">
              </a>
            </td>
            <td>
              <button (click)="closeAttachment(attachment)">Close</button>
            </td>
            <td>
                <button (click)="openAttachment(attachment)">Open</button>
              </td>
          </tr>
        </tbody>
      </table>
  </div>