.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #081d5c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
    color: #fdc613;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 80%;
    display: block;
  }
  
  .btn {
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #fdc613;
    color: #fff;
    padding: 10px;
    
  }
  
  .btn-primary:hover {
    background-color: #ffdf75;
    color: #718daa;
  }
  .label{
    color: #fdc613;
    margin-right: 10px;
  }