<div class="container">
  <h1>Settings</h1>
  <form>
    <div class="form-group">
      <label for="name" class="label">Name: </label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" />
    </div>

    <div class="form-group">
      <label for="email" class="label">Email: </label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" />
    </div>

    <div class="form-group">
      <label for="password" class="label">Password: </label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" />
    </div>

    <div class="form-group">
      <label for="confirm-password" class="label">Confirm Password: </label>
      <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Confirm your password" />
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>