.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98%;
   
    width: auto;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin: 12px;
    padding: 8px;
    width: 14rem;
  }
  
  input[type="password" i] {
    margin-top: 6px;
  }
  
  .btn-div {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-div .login-btn {
    width: 15rem;
    padding: 6px;
    font-size: 14px;
    background: #081d5c;
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
  }
  .box{
    margin:0 auto; 
    width:600px ;
    padding:20px;
    background:white;
    border:2px solid blue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    h2{
      color: blue;
       font-size: 36px; font-weight: 400; line-height: 44px; margin: 0 0 12px; text-align: center;
    }
    p{
      color: red;
      text-align: center;
      
    }
    input{
      border: solid;
      border-radius: 15px;
      width: 190px;
      height: 30px;
      border-color: #081d5c;
    }
    input:focus{
      border: 1px solid #fdc613;
    box-shadow: 0 0 3px #fdc613;
    outline-offset: 0px;
    outline: none;
      
    }
    .btn-div .login-btn:hover{
      background: #fdc613;
    }