<br><br>
<br>
<br><br>
<br>
<div class="box align-center">
    <h2>Admin Login</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
      <input
        placeholder="Email"
        type="text"
        name="email"
        [(ngModel)]="admin.email"
      />
      <input
        placeholder="Password"
        type="password"
        name="password"
        [(ngModel)]="admin.password"
      />
      <p [hidden]="hidden">email ou mot de passe est incorrecte</p>
      <div class="btn-div">
        <button type="submit" [disabled]="!myForm.valid" class="login-btn">
          Login
        </button>
        
      </div>
    </form>
    <br>
  </div>