   
   <ul >
    
        <li *ngFor=" let p of this.employees">

            <div  class="card">
                <img class="card-img-top" src="{{p.photo}}" alt="No Immage" />
                <div class="container">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">Departement: {{p.occupation}}</p>
                    <p class="card-text">Age: {{p.age|number}}</p>

                    <a routerLink="/admin/employeesData/{{p.id}}" class="nav">See Details</a>
                </div>
            </div>
        </li>

    </ul>