ul {
    margin: 0 auto;
    text-align: center;
    columns: 3;
}

li {
    display: inline-flex;
    vertical-align: top;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    background-color:#fdc613 ;
}

.card-text{
    color: white;
}

.card-title{
    color: #fdc613;
    font-size: medium;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-height: fit-content;
    background-color:#081d5c ;
    font-size: small;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    font-size: medium;
  }
  
  .container {
    padding: 2px 16px;
  }
  .nav{
    color: #fdc613;
    font-size: large;
	

}