* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    line-height: 3;
   
}
.container {
    display: flex;
    justify-content: space-between;
    
  }

.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 280px;
    background-color: #081d5c;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  
    
}
.sidebar-navigation ul {
    text-align: center;
    color: white;
    margin-top: auto;
}
.sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
    
}



.sidebar-navigation ul li:hover {
    background-color: #fdc613;
    font-size: large;
}

.active{
    background-color: #fdc613;
    color: #718daa;
}



.subnav{
    background-color: #0d2d8f;
    color: white;
    border: 1px solid white;
    border-radius: 2%;
    opacity: 2;
    height: auto;
    
}
.uls{
    text-align: center;
    font-size: smaller;
    position: absolute;
    float: right;
    margin-top: -80px;
    padding: 6px 6px 14px 80px;
    margin-left: 201px;
    white-space: nowrap;
    width:260px;
    height: 50px;
    color: white;
    transition: all ease-out 120ms;
    opacity: 1;
    
    
    
    
    
}


.uls .ul .li:hover{
    background-color: #fdc613;
    color: #718daa;
}
.uls .ul .li:active{
    background-color: #fdc613;
    color: #718daa;
}


a {
	text-decoration: none;
    color: white;
}
li:target{
display: block;
}

li:not(:first-child) a {
    margin-left: 10px;
  }
  
  li a:target {
    color: red;
  }

  a:active{
    color: #718daa;
  }