<span class="divider"></span>
<div class="container"><nav class="sidebar-navigation">
	<ul>
		<li [routerLinkActive]="'active'">
			<div >
				<a routerLink="dashboard"  class="nav"[routerLinkActive]="'active'">Dashboard</a>
        </div>
        </li>
        
            
		
		<li (click)="show()" [routerLinkActive]="'active'">
			<div>
			<span >Employees  <span [hidden]="!showing"> ► </span> <span [hidden]="showing"> ▼ </span></span>
            </div>

            <div class="uls">
                <ul [hidden]="showing">
                    <li class="subnav" ><a routerLink="employeesAbsence"  class="nav">Taux D'absence Total</a></li>
                    <li class="subnav"><a routerLink="employeesData"  class="nav">Donnees Des Employees</a></li>
                </ul>

		    </div>
        </li>
        
        
    
		<li [routerLinkActive]="'active'">
			<div>
			    <a routerLink="concours"  class="nav" [routerLinkActive]="'active'">Concours</a>
            </div>
		</li>
		
		<li [routerLinkActive]="'active'">
			<a routerLink="Settings"  class="nav" [routerLinkActive]="'active'">Settings</a>
		</li>
	</ul>
</nav>
</div>