
.person-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    max-width: 1500px;
    max-height: 500px;
    display: flex;
    align-items: center;
    background-color: #081d5c;
  }
  
  .person-image {
    flex: 0 0 150px;
    
    background-color: #fdc613;
    border: 2px solid white;
    border-radius: 25%;
    width: 250px;
    text-align: end;
  }
  
  .person-image img {
    display: block;
    max-width: 100%;
  }
  
  .person-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fdc613;
    margin-left: 50%;
    white-space: nowrap;
    text-align: right;
  }
  

  h4{font-size: 16px;
    margin-bottom: 10px;
    color: white;
    margin-left: 50%;
    white-space: nowrap;
    text-align: right;}
    
    #chart_div{
      position: -webkit-sticky;
    position: sticky;
    margin-top: 100px;
      border:solid 1px #081d5c;
      height: fit-content;
  }