
<div class="person-details">
    <div class="person-image">
      <img src="{{currentemployee.photo}}" alt="{{currentemployee.name}}">
    </div>
    <div style="text-align:center; width:600px;color:#fdc613 ;">
      <h2>{{currentemployee.name}}</h2>
      <h2>Age: {{currentemployee.age}}</h2>
      <h2>Occupation:{{currentemployee.occupation}}</h2>
      <h2>Email: example</h2>
      <h2>Phone: example</h2>
      <h2>Address: example</h2>
    </div>
    <div>
        <button>update</button>
        <button>delete</button>
        <button>expand</button>
        
        
    </div>

  </div>

  <div id="chart_div" style="width: 600px; height: 600px; margin-left:300px;"></div>