.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of viewport height */
    text-align: center;
  }
  
  .welcome-text {
    animation: welcomeAnimation 3s ease infinite; /* Apply animation to the text */
    text-align: center;
    color: #fdc613;
    font-size: 160px;
  }
  .welcome-text2 {
    animation: welcomeAnimation 3s ease infinite; /* Apply animation to the text */
    text-align: center;
    color: #fdc613;
    
  }
  
  @keyframes welcomeAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
      color: #081d5c;
    }
    50% {
      opacity: 1;
      transform: translateY(0);
      color: #fdc613;
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
      color: #081d5c;
    }
    
  }  