
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
    width: 50px;
    height: 50px;
}
.nav{
    color: blue;
	

}
h2,
h3,
a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;
	

}
.logo a{
	border-radius: 50%;
	scale: 110%;
	margin-left: 1rem;
	background-color: aliceblue;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.nav-container{
	border-radius: 5px;
	background-color: #fdc613;
}
.main-nav a {
	
	font-family: NotoSans;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.nav-container1{
	border-radius: 5px;
	background-color: #fdc613;
	position: absolute;
  left: 150px;
  
}


.noHover{
    pointer-events: none;
}

header {
	
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 4rem;
	border: 1px solid #a2a2a2;
	background-color: #081d5c;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	
	}
    .header{
		width: 100%;
		margin: 0 ;
		
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
