<header class="header">
  <h1 class="logo">
    <a href="#" class="noHover"><img src="assets/LAPOSTE.png" /></a>
  </h1>
  <div class="nav-container">
    <ul class="main-nav">
      <li [hidden]="hidden"><a routerLink="/login" class="nav">Login</a></li>
      <li [hidden]="hiddenl"><a class="nav">Logout</a></li>
      
      
    </ul>
  </div>
  <div class="nav-container1">
    <ul class="main-nav">
      
      <li><a routerLink="/admin/dashboard" class="nav">admin</a></li>
      <li ><a class="nav">about us</a> </li>
      
    </ul>
  </div>
</header>
