
.body{
    margin-top: 5px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
}
.footer{
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
}

.content{
    padding: 20px;
    width: 100%;
}
